/* layout style */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* header search style */
    #header-form:hover .form-section input#mainSearch,
    .form-section input#mainSearch:active,
    .form-section input#mainSearch:focus {
        width: 150px;
    }
    /* index.html */
    /*banner style*/
    .banner-box > a {
        height: 210px;
    }
    /* map style */
    .map-container {
        height: 200px;
    }
    /* regular, recently style */
    .restaurant-container { /* tablet */
        gap: 30px;
        flex-wrap: nowrap;
    }
    .restaurant-box { /* tablet */
        font-weight: 500;
        width: 200px;
    }
    .restaurant-box img { /* tablet */
        width: 200px;
        height: 120px;
        margin-bottom: 10px;
        object-fit: cover;
        border-radius: 10px;
    }
    /* sale style */
    .sale-box { /* tablet */
        width: 300px;
        height: 150px;
        flex-shrink: 0;
    }
    /* footer style */
    .company-info {
        overflow: hidden;
    }
    .company-info > dd {
        float: left;
        position: relative;
        padding: 0 15px;

    }
    .company-info > dd::after {
        content: "";
        display: block;
        width: 1px;
        height: 14px;
        background: var(--gray-solid-color);
        position: absolute;
        right: 0;
        top: 4px;
    }
    .company-info > dd:nth-child(even) {
        content: "";
        display: block;
        clear: both;
    }
    .company-info > dd:nth-child(odd)::after {
        display: none;
    }
    /* bookmark.html */
    /* restaurant-list */
    .restaurant-list { /* tablet */
        padding-top: 30px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
    }
    .restaurant-list > li { /* tablet */
        width: calc((100% - 20px) / 2);
        max-width: 345px;
    }
    .restaurant-list > li > a { /* tablet */
        background: #fff;
        border-radius: 10px;
        margin-bottom: 15px;
        position: relative;
        display: block;
    }
    .restaurant-list > li > a img { /* 식당 썸네일 */ /* tablet */
        width: 100%;
        height: 150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }
    .restaurant-list > li .restaurant-info { /* tablet */
        padding: 10px 15px 15px;
    }
    .sale-label { /* 할인 라벨 */ /* tablet */
        background: url(../images/label.png) no-repeat 0 0;
        background-size: contain;
        width: 170px;
        height: 20px;
        line-height: 20px;
        text-indent: 10px;
        font-size: 10px;
        color: var(--sub-text-color);
    }
    /* cart.html */
    .cart-bottom {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .cart-bottom > .btn { /* tablet */
        margin: 0 auto;
    }
    /* order.html */
    .order-top,
    .order-bottom { /* tablet */
        padding-top: 10px;
    }
    /* receipt style */
    .receipt-head > p:nth-child(2),
    .receipt > .menu-list > li > *:nth-child(2) { /* tablet */
        margin-left: auto;
    }
}